body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.logo {
    text-align: left;
}

.logo img {
    max-width: 100px;
    height: auto;
}

form {
    margin-top: 20px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 10px;
}

#copy {
    text-align: center;
    margin-top: 20px;
}